{% extends 'base.html.twig' %}

{% block title %}Saravah - Membres{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert">            
        <strong>{{ message }}</strong>
        <strong class="close">X</strong>
    </div>
{% endfor %}

<section id="members" class="grid grid-cols-12">
    {# {% if not prestations.items is same as([]) %}   #}
        <h1 class="col-span-12 place-self-center">Membres</h1>
        <a href="/membre/nouveau" class="add col-span-12 place-self-center btn btn-primary">Ajouter un membre</a>
        {# <p>Il y a {{ members.getTotalItemCount }} au total</p> #}

        <ul class="list col-span-12 grid grid-cols-12">
            {% for member in members %}            
                <li class="member col-span-4 d-flex flex-column align-middle">
                    <div class="name"><span>Nom</span> : {{ member.name }}</div>
                    <div class="firstName"><span>Prénom</span> : {{ member.firstName }}</div>
                    <div class="pseudo"><span>Pseudo</span> : {{ member.pseudo }}</div>
                    <div class="email"><span>Mail</span> : {{ member.email }}</div>
                    {# <div class="role"><span>Role</span> : {{ member.roles|[0] }} #}
                    <div class="playTime"><span>Date de naissance</span> : {{ member.birthday|date('d/m/Y') }}</div>        
                    <div class="address"><span>Adresse</span> : {{ member.address }}</div>        
                    <div class="phone"><span>Téléphone</span> : {{ member.phone }}</div>              
                    <div class="car"><span>Voiture</span> : {{ (member.car is same as (true)) ? 'Oui' : 'Non'}}</div>
                </li>            
            {% endfor %}
        </ul>
        {# {% else %}
            <h2>Il n'y a pas de presta à venir pour le moent !</h2>

            <a href="{{ path('prestation.new') }}" class="btn">Ajouter une presta ?</a>
        {% endif %} #}
</section>

{% endblock %}



