{% extends 'base.html.twig' %}

{% block title %}Saravah - Prestations{% endblock %}

{% block body %}
<section id="performances" class="grid grid-cols-12">
    <h1 class="col-span-12">Prestations</h1>
    <a href="#" class="add col-span-12 place-self-center">Ajouter une prestation</a>
    {# <p>Il y a {{ prestations.getTotalItemCount }} au total</p> #}
    <ul class="list col-span-12 grid grid-cols-12">
        {% for prestation in prestations %}            
            <li class="performance col-start-3 col-end-11">
                <div class="title">{{ prestation.title }}</div>
                <div class="location"><span>Ville</span> : {{ prestation.location }}</div>
                <div class="date"><span>Le</span> : {{ prestation.date|date("d/m/Y") }}</div>
                <div class="meetLocation"><span>Lieu de Rendez-vous</span> : {{ prestation.meetingLocation }}</div>
                <div class="meetHour"><span>A</span> : {{ prestation.meetingHour|date('h') }}H{{ prestation.meetingHour|date('i')}}</div>
                <div class="information"><span>Infos</span> : </br>{{ prestation.information }}</div>
                <div class="playTime"><span>Temps de jeu total</span> : {{ prestation.playingTime|date('H:i') }}</div>               
                <div class="nbPerf"><span>Nombre de passage</span> : {{ prestation.nbPerformance }}{{ prestation.nbPerformance is same as (null) ? 'Non renseigné' : ''}}</div>
            </li>            
        {% endfor %}
    </ul>
</section>
{% endblock %}
